# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.DAM2021_Project.iml
# Datasource local storage ignored files
/../../../../../../../../:\Developer\Projects\Unity2020\DAM2021_Project\.idea\.idea.DAM2021_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
